body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: $maalarinvalkoinen;
}

.container {
  height: 100vh;
  padding-top: $header-height;
  padding-bottom: $footer-height;
}

button.custom {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  border: 4px solid #4f4d4f;
  background: #65a9d7;
  background: none;
  padding: 11px 22px;
  border-radius: 40px;
  vertical-align: middle;

  &:hover {
    background-color: $yellow;
  }

  &:active, &:focus {
    box-shadow: none;
  }
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}