footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $main-gray;
  height: $footer-height;
  padding: 1rem;
  @include box-depth(1);

  .choice {
    font-size: 1rem;
    display: inline-block;
    cursor: pointer;

    > .fa {
      margin-right: 2rem;
    }
  }
}