canvas, svg {
  position: absolute;
}

#graph {
  position: relative;
}

.axis {

  font-size: 14px;
  font-weight: 800;

  path, line {
    fill: none;
  }

  line {
    shape-rendering: crispEdges;
    stroke: #444;
    stroke-width: 1.0px;
    stroke-dasharray: 2,4;
  }
}