header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $main-gray;
  height: $header-height;
  padding: 1rem;
  @include box-depth(1);

  h1 {
    margin: 0;
    display: inline-block;
    font-weight: 800;
  }

  .description {
    display: inline-block;
    font-size: 1.2em;
    margin-left: 0.7rem;
  }

  .buttons {

    span {
      font-size: 1.2em;
      margin-right: 1rem;
    }
    
    display: inline-block;
    float: right;
  }
}