.container {
    position: relative;
    display: grid;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
      }
}

.canvas {
    grid-row: 1;
    grid-column: 1;
    cursor: zoom-in;

    &.playing {
        cursor: initial;
    }

    &.zoomed:not(.playing) {
        cursor: zoom-out;
    }
}